<div class="header" fxLayout="row" fxLayoutAlign="none center">
  <div class="header-title" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
    <i class="fa-solid fa-dragon"></i>
    <span class="header-title-text">Knight Equip</span>
  </div>
  <div class="buttons-container" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
    <button class="header-button" fxLayoutAlign="none center" routerLink="/attributes">Характеристики</button>
    <button class="header-button" fxLayoutAlign="none center" routerLink="/inventory">Інвентар</button>
  </div>
</div>
